/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */


body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}
/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #D36A7E;
}

.resume-main {
	background-color: white;
}

.resume-aside {
	background-color:lightpink;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "-";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #b13745;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.photo-hailey {
	width: 150px; /* Set the width of the image */
            height: 150px; /* Set the height of the image */
            
			
}

h1 {
	font-family: "pf-marlet-display", sans-serif; 
	font-size: 60px;
	margin-left: 40px;
	margin-top: 45px;
	color: white;
}

.headerfive {
	font-family: "raleway", sans-serif;
	fontsize: 18px;
	margin-left: 42px;
	color: white;
}

h2 {
	font-family: "pf-marlet-display", sans-serif;
	color: white;
}

.professionalexperience {
	font-family: "pf-marlet-display", sans-serif;
	color: darkred;
}

.education {
	font-family: "pf-marlet-display", sans-serif;
	color: darkred;
}